img {
  max-width: 100%;
  display: block;
}

.media {
  border: 2px dotted black;
  display: flex;
  align-items: flex-start;
}

.flipped {
  flex-direction: row-reverse;
}

.media .content {
  flex: 1;
  padding: 10px;
}