.box {
  height: 300px;
  border: 2px dotted rgb(96 139 168);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  border: 2px solid black;
  border-radius: 5px;
  background-color: pink;
  width: 100px;
  height: 100px;
}